body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 40px;
}
.horizontal-menu {
    background: linear-gradient(180deg, #4a4c58, #2c2d33);
    border-radius: 5px;
}
.horizontal-menu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.horizontal-menu ul li {
    display: inline-block;
}
.horizontal-menu ul li a {
    display: block;
    color: #ffffff;
    padding: 15px 25px 15px 25px;
    text-decoration: none;
    font-weight: bold;
}
.horizontal-menu ul li a:hover {
    color: #8dd958;
}
.horizontal-menu ul ul {
    width: 200px;
    display: none;
    position: absolute;
    background-color: #1f2024;
    border-radius: 0px 0px 5px 5px;
}
.horizontal-menu li:hover ul {
    display: block;
}
.horizontal-menu li:hover ul li {
    display: block;
    border-bottom: 1px solid #2e2e32;
}
.horizontal-menu li:hover ul li:last-child {
    border-bottom: none;
}
.horizontal-menu li:hover a {
    color: #8dd958;
}
.horizontal-menu li:hover ul li a {
    color: #ffffff;
}
.horizontal-menu li:hover ul li a:hover {
    color: #8dd958;
}